# 02 – System Evaluation

**Purpose:**  
This notebook evaluates the AI Data Analyst Agent using fixed,
predefined natural-language queries.

The evaluation focuses on:
- Correctness of execution
- Determinism of results
- Quality of generated insights

All experiments correspond to configurations defined in `experiments/*.yaml`.

In [10]:
import sys
from pathlib import Path

# Add project root to PYTHONPATH
project_root = Path("..").resolve()
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

In [12]:
import pandas as pd

from src.agents.planner import PlannerAgent
from src.executor.executor import execute_plan
from src.schemas.plan_validator import validate_plan

In [7]:
df = pd.read_csv("../data/BOOK1.csv")

In [13]:
evaluation_queries = [
    "Show total SALES by COUNTRY",
    "Find top 5 COUNTRIES by SALES",
    "Show average sales by COUNTRY"
]

In [14]:
planner = PlannerAgent()
columns = list(df.columns)

for query in evaluation_queries:
    print("=" * 80)
    print("Query:", query)

    plan = planner.generate_plan(columns, query)
    validate_plan(plan, columns)   # ✅ FIX HERE

    result = execute_plan(df, plan)
    print(result)

================================================================================
Query: Show total SALES by COUNTRY
(        COUNTRY       SALES
0     Australia   630623.10
1       Austria   202062.53
2       Belgium   108412.62
3        Canada   224078.56
4       Denmark   245637.15
5       Finland   329581.91
6        France  1110916.52
7       Germany   220472.09
8       Ireland    57756.43
9         Italy   374674.31
10        Japan   188167.81
11       Norway   307463.70
12  Philippines    94015.73
13    Singapore   288488.41
14        Spain  1215686.92
15       Sweden   210014.21
16  Switzerland   117713.56
17           UK   478880.46
18          USA  3627982.83, Figure({
    'data': [{'hovertemplate': 'COUNTRY=%{x}<br>SALES=%{y}<extra></extra>',
              'legendgroup': '',
              'marker': {'color': '#636efa', 'pattern': {'shape': ''}},
              'name': '',
              'orientation': 'v',
              'showlegend': False,
              'textposition': 'auto',
              'type': 'bar',
              'x': array(['Australia', 'Austria', 'Belgium', 'Canada', 'Denmark', 'Finland',
                          'France', 'Germany', 'Ireland', 'Italy', 'Japan', 'Norway',
                          'Philippines', 'Singapore', 'Spain', 'Sweden', 'Switzerland', 'UK',
                          'USA'], dtype=object),
              'xaxis': 'x',
              'y': {'bdata': ('MzMzM74+I0HXo3A9dKoIQbgehevJd/' ... 'L1GL38QHE9CteBOh1BpHA9auetS0E='),
                    'dtype': 'f8'},
              'yaxis': 'y'}],
    'layout': {'barmode': 'relative',
               'legend': {'tracegroupgap': 0},
               'margin': {'t': 60},
               'template': '...',
               'xaxis': {'anchor': 'y', 'domain': [0.0, 1.0], 'title': {'text': 'COUNTRY'}},
               'yaxis': {'anchor': 'x', 'domain': [0.0, 1.0], 'title': {'text': 'SALES'}}}
}),       ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

             ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0       2/24/2003 0:00   Shipped       1         2     2003  ...
1     05-07-2003 00:00   Shipped       2         5     2003  ...
2     07-01-2003 00:00   Shipped       3         7     2003  ...
3       8/25/2003 0:00   Shipped       3         8     2003  ...
4     10-10-2003 00:00   Shipped       4        10     2003  ...
...                ...       ...     ...       ...      ...  ...
2818  12-02-2004 00:00   Shipped       4        12     2004  ...
2819    1/31/2005 0:00   Shipped       1         1     2005  ...
2820  03-01-2005 00:00  Resolved       1         3     2005  ...
2821    3/28/2005 0:00   Shipped       1         3     2005  ...
2822  05-06-2005 00:00   On Hold       2         5     2005  ...

                       ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue           NaN            NYC    NY
1                59 rue de l'Abbaye           NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3                78934 Hillside Dr.           NaN       Pasadena    CA
4                   7734 Strong St.           NaN  San Francisco    CA
...                             ...           ...            ...   ...
2818             C/ Moralzarzal, 86           NaN         Madrid   NaN
2819                    Torikatu 38           NaN           Oulu   NaN
2820             C/ Moralzarzal, 86           NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine           NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.           NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 25 columns])
================================================================================
Query: Find top 5 COUNTRIES by SALES
(      COUNTRY       SALES
18        USA  3627982.83
14      Spain  1215686.92
6      France  1110916.52
0   Australia   630623.10
17         UK   478880.46, Figure({
    'data': [{'hovertemplate': 'COUNTRY=%{x}<br>SALES=%{y}<extra></extra>',
              'legendgroup': '',
              'marker': {'color': '#636efa', 'pattern': {'shape': ''}},
              'name': '',
              'orientation': 'v',
              'showlegend': False,
              'textposition': 'auto',
              'type': 'bar',
              'x': array(['USA', 'Spain', 'France', 'Australia', 'UK'], dtype=object),
              'xaxis': 'x',
              'y': {'bdata': 'pHA9auetS0G4HoXrxowyQVK4HoWE8zBBMzMzM74+I0FxPQrXgTodQQ==', 'dtype': 'f8'},
              'yaxis': 'y'}],
    'layout': {'barmode': 'relative',
               'legend': {'tracegroupgap': 0},
               'margin': {'t': 60},
               'template': '...',
               'xaxis': {'anchor': 'y', 'domain': [0.0, 1.0], 'title': {'text': 'COUNTRY'}},
               'yaxis': {'anchor': 'x', 'domain': [0.0, 1.0], 'title': {'text': 'SALES'}}}
}),       ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

             ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0       2/24/2003 0:00   Shipped       1         2     2003  ...
1     05-07-2003 00:00   Shipped       2         5     2003  ...
2     07-01-2003 00:00   Shipped       3         7     2003  ...
3       8/25/2003 0:00   Shipped       3         8     2003  ...
4     10-10-2003 00:00   Shipped       4        10     2003  ...
...                ...       ...     ...       ...      ...  ...
2818  12-02-2004 00:00   Shipped       4        12     2004  ...
2819    1/31/2005 0:00   Shipped       1         1     2005  ...
2820  03-01-2005 00:00  Resolved       1         3     2005  ...
2821    3/28/2005 0:00   Shipped       1         3     2005  ...
2822  05-06-2005 00:00   On Hold       2         5     2005  ...

                       ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue           NaN            NYC    NY
1                59 rue de l'Abbaye           NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3                78934 Hillside Dr.           NaN       Pasadena    CA
4                   7734 Strong St.           NaN  San Francisco    CA
...                             ...           ...            ...   ...
2818             C/ Moralzarzal, 86           NaN         Madrid   NaN
2819                    Torikatu 38           NaN           Oulu   NaN
2820             C/ Moralzarzal, 86           NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine           NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.           NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 25 columns])
================================================================================
Query: Show average sales by COUNTRY
(        COUNTRY        SALES
0     Australia  3408.773514
1       Austria  3673.864182
2       Belgium  3285.230909
3        Canada  3201.122286
4       Denmark  3899.002381
5       Finland  3582.412065
6        France  3537.950701
7       Germany  3556.001452
8       Ireland  3609.776875
9         Italy  3315.701858
10        Japan  3618.611731
11       Norway  3617.220000
12  Philippines  3615.989615
13    Singapore  3651.752025
14        Spain  3554.640117
15       Sweden  3684.459825
16  Switzerland  3797.211613
17           UK  3325.558750
18          USA  3613.528715, Figure({
    'data': [{'hovertemplate': 'COUNTRY=%{x}<br>SALES=%{y}<extra></extra>',
              'legendgroup': '',
              'marker': {'color': '#636efa', 'pattern': {'shape': ''}},
              'name': '',
              'orientation': 'v',
              'showlegend': False,
              'textposition': 'auto',
              'type': 'bar',
              'x': array(['Australia', 'Austria', 'Belgium', 'Canada', 'Denmark', 'Finland',
                          'France', 'Germany', 'Ireland', 'Italy', 'Japan', 'Norway',
                          'Philippines', 'Singapore', 'Spain', 'Sweden', 'Switzerland', 'UK',
                          'USA'], dtype=object),
              'xaxis': 'x',
              'y': {'bdata': ('HJf2CYyhqkDHDQp2urOsQJtjtzl2qq' ... 'ZYbKqtQEjhehQe+6lAnDHAsw47rEA='),
                    'dtype': 'f8'},
              'yaxis': 'y'}],
    'layout': {'barmode': 'relative',
               'legend': {'tracegroupgap': 0},
               'margin': {'t': 60},
               'template': '...',
               'xaxis': {'anchor': 'y', 'domain': [0.0, 1.0], 'title': {'text': 'COUNTRY'}},
               'yaxis': {'anchor': 'x', 'domain': [0.0, 1.0], 'title': {'text': 'SALES'}}}
}),       ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

             ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0       2/24/2003 0:00   Shipped       1         2     2003  ...
1     05-07-2003 00:00   Shipped       2         5     2003  ...
2     07-01-2003 00:00   Shipped       3         7     2003  ...
3       8/25/2003 0:00   Shipped       3         8     2003  ...
4     10-10-2003 00:00   Shipped       4        10     2003  ...
...                ...       ...     ...       ...      ...  ...
2818  12-02-2004 00:00   Shipped       4        12     2004  ...
2819    1/31/2005 0:00   Shipped       1         1     2005  ...
2820  03-01-2005 00:00  Resolved       1         3     2005  ...
2821    3/28/2005 0:00   Shipped       1         3     2005  ...
2822  05-06-2005 00:00   On Hold       2         5     2005  ...

                       ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue           NaN            NYC    NY
1                59 rue de l'Abbaye           NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3                78934 Hillside Dr.           NaN       Pasadena    CA
4                   7734 Strong St.           NaN  San Francisco    CA
...                             ...           ...            ...   ...
2818             C/ Moralzarzal, 86           NaN         Madrid   NaN
2819                    Torikatu 38           NaN           Oulu   NaN
2820             C/ Moralzarzal, 86           NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine           NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.           NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 25 columns])